<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<ginger_payments>
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
				<btCheckoutMessage>You will see payment instructions on the order placement.</btCheckoutMessage>
<!-- 2017-03-08
https://github.com/mage2pro/ginger-payments-base/blob/0.3.3/Method.php?ts=4#L46 -->
				<btId>sepa-debit-transfer</btId>
				<btInstructions><![CDATA[<b>Please use the following details to pay this order by bank transfer:</b><ul>
<li><b>Amount</b>: {amount}</li>
<li><b>Reference</b>: {reference}</li>
<li><b>IBAN</b>: NL13INGB0005300060</li>
<li><b>BIC</b>: INGBNL2A</li>
<li><b>Account holder</b>: ING Bank N.V. PSP</li>
<li><b>City</b>: Amsterdam, NL</li>
</ul>]]></btInstructions>
<!-- 2017-04-09 Ginger Payments принимает только EUR. -->
				<currency>EUR</currency>
				<description>{store.domain} // {customer.name} // {order.id}</description>
				<description_rules>
					<locations>
						<merchant>
							<shown>1</shown>
						</merchant>
					</locations>
					<maxLength>
						<title>[Ginger Payments] The JSON Schema of a «POST /v1/orders/» request. See the «description» parameter.</title>
						<url>https://mage2.pro/t/3410</url>
					</maxLength>
				</description_rules>
<!-- 2017-03-08
https://github.com/mage2pro/ginger-payments-base/blob/0.3.2/Api.php?ts=4#L14 -->
				<domain>gingerpayments.com</domain>
				<optionsLocation>magento</optionsLocation>
				<optionsPrompt><![CDATA[Please select a payment option:]]></optionsPrompt>
				<requireBillingAddress>1</requireBillingAddress>
				<title>Ginger Payments</title>
				<title_backend>Ginger Payments</title_backend>
<!-- 2017-03-08
https://github.com/mage2pro/ginger-payments-base/blob/0.3.4/Method.php?ts=4#L46 -->
				<vatIsInteger>0</vatIsInteger>
			</ginger_payments>
		</df_payment>
        <payment>
            <dfe_ginger_payments>
<!-- 2017-12-05
"The module is not shown in the «Mageplaza Extensions» → «One Step Checkout» →
«General Configuration» → «Default Payment Method» Magento 2 backend dropdown":
https://github.com/mage2pro/ginger-payments/issues/2
https://github.com/mage2pro/stripe/blob/2.5.2/etc/config.xml#L52-L120
-->
				<active>1</active>
<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\GingerPayments\Method</model>
            </dfe_ginger_payments>
        </payment>
    </default>
</config>