<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<ginger_payments>
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
<!-- 2017-03-08
https://github.com/mage2pro/ginger-payments-base/blob/0.3.2/Api.php?ts=4#L14 -->
				<apiDomain>gingerpayments.com</apiDomain>
<!-- 2017-03-08
https://github.com/mage2pro/ginger-payments-base/blob/0.3.3/Method.php?ts=4#L46 -->
				<bankTransferId>sepa-debit-transfer</bankTransferId>
				<description>{store.domain} // {customer.name} // {order.id}</description>
				<requireBillingAddress>1</requireBillingAddress>
				<title>Ginger Payments</title>
				<title_backend>Ginger Payments</title_backend>
<!-- 2017-03-08
https://github.com/mage2pro/ginger-payments-base/blob/0.3.4/Method.php?ts=4#L46 -->
				<vatIsInteger>0</vatIsInteger>
			</ginger_payments>
		</df_payment>
        <payment>
            <dfe_ginger_payments>
				<model>Dfe\GingerPayments\Method</model>
            </dfe_ginger_payments>
        </payment>
    </default>
</config>