<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<virtualType name='Dfe\GingerPayments\Controller\Confirm\Index' type='Df\Payment\W\Action'/>
	<virtualType name='Dfe\GingerPayments\Controller\CustomerReturn\Index' type='Df\Payment\CustomerReturn'/>
</config>