<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<group
				id='ginger_payments'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='709'
				translate='label'
			>
				<label>Ginger Payments</label>
				<dfExtension>Dfe_GingerPayments</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/ginger-payments' target='_blank'>Ginger Payments</a>» payment extension?]]></comment>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/3358' target='_blank'>How to create a test Ginger Payments account?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testPrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='obscure'
				>
					<label>Test API Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/3368' target='_blank'>Where is the API Key located?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='livePrivateKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='obscure'
				>
					<label>Live API Key</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/3368' target='_blank'>Where is the API Key located?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
					<validate>required-entry</validate>
				</field>
<!-- 2017-03-01
Две опции ниже сделал по аналогии с модулем allPay:
https://github.com/mage2pro/allpay/blob/1.1.33/etc/adminhtml/system.xml?ts=4#L317-L348
-->
				<field
					id='optionsLimit'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Limit Payment Options Availability?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If checked, only the specified options will be shown to a customer.<br/>It is highly recommended to setup it, because the Ginger Payments API <a href="https://mage2.pro/t/3457/4" target="_blank">does not have</a> an ability to detect the allowed <a href="https://mage2.pro/t/3463" target="_blank">payment options</a> programmatically, and a customer's attempt to use an unallowed payment option will <a href="https://mage2.pro/t/3491"  target="_blank">lead to an error</a>.
<br/>The «Limit Payment Options Availability?» checkbox is only shown to you in the production mode.
<br/>In the test mode, Ginger Payments allows <a href="https://mage2.pro/t/3492" target="_blank">only the iDEAL and bank transer</a> options, and they are both will be shown to a test customer.]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='optionsAllowed'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Allowed Payment Options</label>
					<source_model>Dfe\GingerPayments\Source\Option</source_model>
					<comment><![CDATA[Only the selected payment options will be shown to a customer on the Magento checkout screen.]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLimit'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='description'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='textarea'
				>
					<label>Description</label>
					<comment><![CDATA[It will be displayed in the Ginger Payments merchant interface alongside the payment.<br/>You can use <a href='https://mage2.pro/t/1834' target='_blank'>variables</a> in the description.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='metadata'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='9'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Metadata</label>
					<source_model>Df\Payment\Metadata</source_model>
					<comment><![CDATA[It will be displayed in the Ginger Payments merchant interface alongside the payment.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='btCheckoutMessage'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='10'
					translate='label'
					type='textarea'
				>
					<label>Bank Transfer checkout message</label>
					<comment><![CDATA[It will be displayed to a customer on the Magento checkout screen before an order placement.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfRows='9'
					id='btInstructions'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>Bank Transfer payment instructions</label>
					<comment><![CDATA[They will be displayed to a customer:<ul class='df-note'>
<li>on the Magento «<b>checkout success</b>» screen just after an order placement;</li>
<li>on an <b>order page</b> in the «Order Information» → «Payment Method» block (the bottom-right corner);</li>
<li>on an order confirmation <b>email</b>.</li></ul>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behaviour.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='text'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
					type='text'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='select'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>